<div class="row">
  <div class="col-6">
    <div class="form-group form-inline">
      <label for="searchText">Search</label>
      <input type="text" class="form-control ml-3" id="searchText" [(ngModel)]="searchValue">
    </div>
  </div>
  <div class="col-6">
    <div class="form-group form-inline float-right">
      <label for="resultsPerPage">Results Per Page</label>
      <select class="custom-select ml-3" id="resultsPerPage" [(ngModel)]="resultsPerPage">
        <option value="2">2</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Item</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mockDataList; let i = index;">
          <td>{{ item.id }}</td>
          <td>{{ item.item }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><button class="page-link" (click)="movePreviousPage()">Previous</button></li>
        <ng-container *ngFor="let page of paginationList">
          <li class="page-item" [class.active]="isCurrentPage(page)"><button class="page-link" (click)="setPage(page)">{{ page }}</button></li>
        </ng-container>
        <li class="page-item"><button class="page-link" (click)="moveNextPage()">Next</button></li>
      </ul>
    </nav>
  </div>
</div>
