<div class="row">
  <div class="col-12">
    Search Form Here
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Item</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mockDataList; let i = index;">
          <td>{{ item.id }}</td>
          <td>{{ item.item }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
</div>
